
/* general style  */
body
{
    padding: 1em;
    font-size: 1em;
    min-width: 480px;
    max-width: 480px;
    height: 768px;
    margin: 0 auto;
}

body div
{
    text-align: center;
    vertical-align: middle;
}



