
/* general style  */
body
{
    padding: 1em;
    font-size: 1em;
    /* min-width: 30em; */
    /* max-width: 30em; */
    /* height: 48em; */
    margin: 0 auto;
}

body div
{
    text-align: center;
    vertical-align: middle;
}
