
body
{
    padding: 1em;
    font-size: 1em;
    min-width: 480px;
    max-width: 480px;
    height: 768px;
}

body div
{
    text-align: center;
    vertical-align: middle;
}

div
{
    outline: 1px solid grey;
}

/* mobile mode  */

div.a
{
    width: 480px;
    height: 75px;
}

div.b
{
    width: 480px;
    height: 150px;
}

div.c
{
    width: 480px;
    height: 125px;
}

div.d
{
    width: 480px;
    height: 125px;
}

div.e
{
    width: 240px;
    height: 250px;
    float: left;
}

div.f
{
    width: 240px;
    height: 250px;
    float: left;
}

div.g
{
    width: 240px;
    height: 250px;
    float: left;
}

div.h
{
    width: 240px;
    height: 250px;
    float: left;
}

div.i
{
    width: 480px;
    height: 10px;
}

/* desktop mode  */
@media only screen and (min-width: 960px) 
{
    body 
    {
      background-color: pink;
      max-width: 960px;
      min-width: 960px;
    }

    div.a
    {
        width: 960px;
        height: 100px;
    }

    div.b
    {
        width: 200px;
        height: 600px;
        float: left;
    }

    div.c
    {
        width: 380px;
        height: 200px;
        float: left;
    }

    div.d
    {
        width: 380px;
        height: 200px;
        float: left;
    }

    div.e
    {
        width: 190px;
        height: 250px;
        float: left;
    }

    div.f
    {
        width: 190px;
        height: 250px;
        float: left;
    }

    div.g
    {
        width: 190px;
        height: 250px;
        float: left;
    }

    div.h
    {
        width: 190px;
        height: 250px;
        float: left;
    }

    div.i
    {
        width: 760px;
        height: 150px;
        float: left;
    }
}