/* mobile mode  */

/* colors */
/* 
DAA89B
AE847E
2C0E37
690375
CB429F
EE6352
59CD90
3FA7D6
FAC05E
*/

div.a
{
    width: 30em;
    height: 4.6875em;
    line-height: 4.6875em;
    background-color: #0C0A3E;
}

div.b
{
    width: 30em;
    height: 9.375em;
    line-height: 9.375em;
    background-color: #7B1E7A;
}

div.c
{
    width: 30em;
    height: 7.8125em;
    line-height: 7.8125em;
    background-color: #B33F62;
}

div.d
{
    width: 30em;
    height: 7.8125em;
    line-height: 7.8125em;
    background-color: #F9564F;
}

div.e
{
    width: 15em;
    height: 15.625em;
    line-height: 15.625em;
    float: left;
    background-color: #F3C677;
}

div.f
{
    width: 15em;
    height: 15.625em;
    line-height: 15.625em;
    float: left;
    background-color: #BBDEF0;
}

div.g
{
    width: 15em;
    height: 15.625em;
    line-height: 15.625em;
    float: left;
    background-color: #00A6A6;
}

div.h
{
    width: 15em;
    height: 15.625em;
    line-height: 15.625em;
    float: left;
    background-color: #EFCA08;
}

div.i
{
    width: 30em;
    height: 0.625em;
    line-height: 0.625em;
    float: left;
    background-color: #F49F0A;
}

/* tablet mode  */

@media only screen and (min-width: 48em) 
{
    body 
    {
    
    }

    div.a
    {
        background-color: #DAA89B;
    }

    div.b
    {
        background-color: #AE847E;
    }

    div.c
    {
        background-color: #2C0E37;
    }

    div.d
    {
        background-color: #690375;
    }

    div.e
    {
        background-color: #CB429F;
    }

    div.f
    {
        background-color: #EE6352;
    }

    div.g
    {
        background-color: #59CD90;
    }

    div.h
    {
        background-color: #3FA7D6;
    }

    div.i
    {
        background-color: #FAC05E;
    }
}


/* desktop mode  */

@media only screen and (min-width: 60em) 
{
    body 
    {
      max-width: 60em;
      min-width: 60em;
    }

    div.a
    {
        width: 60em;
        height: 6.25em;
        line-height: 6.25em;
        background-color: #363635;
    }

    div.b
    {
        width: 12.5em;
        height: 37.5em;
        line-height: 37.5em;
        float: left;
        background-color: #595A4A;
    }

    div.c
    {
        width: 23.75em;
        height: 12.5em;
        line-height: 12.5em;
        float: left;
        background-color: #B0FE76;
    }

    div.d
    {
        width: 23.75em;
        height: 12.5em;
        line-height: 12.5em;
        float: left;
        background-color: #81E979;
    }

    div.e
    {
        width: 11.875em;
        height: 15.625em;
        line-height: 15.625em;
        float: left;
        background-color: #8FBB99;
    }

    div.f
    {
        width: 11.875em;
        height: 15.625em;
        line-height: 15.625em;
        float: left;
        background-color: #FCFCFC;
    }

    div.g
    {
        width: 11.875em;
        height: 15.625em;
        line-height: 15.625em;
        float: left;
        background-color: #D2F898;
    }

    div.h
    {
        width: 11.875em;
        height: 15.625em;
        line-height: 15.625em;
        float: left;
        background-color: #F6F930;
    }

    div.i
    {
        width: 47.5em;
        height: 9.375em;
        line-height: 9.375em;
        float: left;
        background-color: #F5A6E6;
    }
}